#navbar{
    height: 12%;
}
#efeito_maquina_escrever{
    max-width: 680px;
    text-align: center;
    margin: 68px auto;
    font-family: 'Courier New', Courier, monospace;
    color: cornflowerblue;
}